@media (max-width: 1199px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 45px
        &_subheader
            font-size: 30px
    .reasons
        &_descr
            width: 318px
        &_block
            align-items: flex-start
    .mobile
        &_item
            width: 305px                                              
    .footer
        &_wrapper > div
            width: 20%
            &:nth-child(2)
                width: 60%
            &:nth-child(3)
                width: 20% 
                justify-content: center
                align-items: center
                margin: 0 auto
                &_img
                    width: 70px       
                